:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes winnerBounce {
  0%,
  100% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.08);
  }
}
body {
  margin: 0;
  background-color: transparent; /* Fallback background */
  color: #1f2937; /* Default text color (gray-800) */
}
